{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<main id="main-content">
	<div class="container">
		<!-- Breadcrumb -->
		{% include "modules/component/breadcrumb.html" %}
		<!-- end -->
		<!-- Group link 01 -->
		{% include "modules/component/link-group01.html" %}
		<!-- End  -->
		<div class="blog-details__wrap pt-4 pt-lg-5">
			<div class="row">
				<div class="col-md-8 pb-5">
					<h1 class="blog-details__title h2"><strong>Ý thức về sự tỉnh thức giữa đại dịch – Tỉnh thức trong vô thức</strong></h1>
					<div class="blog__date mb-2"><small>18/10/2019</small> </div>
					<div class="blog-details__content">
						<div class="bg-grey p-3 mb-3">
							Chúng ta đều biết ý thức tự bảo vệ mình và cộng đồng rất quan trọng lúc này. Nhưng ai trong chúng ta cũng có thể
							vô tình tham gia vào quá trình lây lan dịch bệnh do vô thức. Đó là những thói quen của chúng ta, tưởng chừng vô hại
							nhưng lại tiềm ẩn nguy cơ.
						</div>
						<p>
							Ví dụ, thói quen luôn cầm điện thoại, lướt qua lướt lại facebook, email, tin tức v.v. Cái điện thoại lúc nào cũng cận
							kề kế bên, lúc nào cũng trên tay. Thỉnh thoảng chúng ta bỏ điện thoại xuống bàn, hay tay cầm 2-3 cái điện thoại
							cùng lúc hay bỏ vào túi rồi lại lấy ra, lướt qua lướt lại. Những ai đeo kính cận thì có thói quen chỉnh kính, cứ 5-10
							phút lại đưa tay lên mặt chỉnh một lần.<br>
							Nguy cơ ở đây là trước khi rửa tay, chúng ta đã cầm điện thoại, sau một khoảng thời gian lại rửa tay sát trùng, sau
							đó cầm điện thoại rồi lại rửa tay. Giả định tay chúng ta đã dính virus, trước khi chúng ta kịp rửa tay, chúng ta đã
							cầm điện thoại, cái điện thoại đã dính virus và sau rửa tay chúng ta lại cầm điện thoại. Vô tình, việc rửa tay sát
							trùng lại vô nghĩa vì chúng ta đã liên tục tiếp xúc với nguồn trữ virus. Và rồi, trước khi chúng ta rửa tay một lần nữa,
							rất có thể bạn đã bắt tay một ai đó, hoặc chạm vào một bề mặt nào đó, hoặc tự đưa tay lên mặt chỉnh kính... theo
							cách đó, ta góp phần phát tán virus hoặc tự đưa virus đến gần mình. Vậy vấn đề ở đây là ta ý thức rằng những gì
							chúng ta cầm, chạm phải sạch, không có virus nhưng cái điện thoại thì luôn dính virus vì chúng ta không sát trùng
							điện thoại hoặc không thể dừng cầm điện thoại.<br>
							Cũng tương tự như việc đeo khẩu trang và tháo khẩu trang ra. Nếu tay chúng ta đã nhiễm virus mà cầm khẩu trang
							lên đeo thì bản chất cái khẩu trang ta đang đeo đã dính virus. Hoặc khi tháo khẩu trang xong (ví dụ như khẩu trang
							đã dính virus) mà chúng ta không rửa tay lúc đó thì tay chúng ta lại dính virus tại thời điểm mình tháo khẩu trang
							ra.<br>
							Hay như lúc ở nhà làm việc mà cứ rửa tay liên tục thì có ý nghĩa gì? Trong trường hợp này việc hạn chế ra ngoài
							mang virus về, nhắc nhở người từ ngoài đường về nhà rửa tay ngay và hạn chế người lạ vào nhà – quan trọng hơn!
							Sau khi lên và xuống taxi hoặc đụng vào cửa ra vào một địa điểm công cộng, phải rửa tay ngay! Vì ta không biết
							những ai đã đụng vào tay nắm và lần cuối cùng chúng được khử khuẩn là khi nào. Tương tự, sau khi bấm nút thang
							máy là lúc rửa tay liền vì nhiều người đã chạm vào nút bấm thang máy; sau khi nhận tiền của người khác là lúc rửa
							tay liền vì nhiều người đã đụng vào tờ giấy tiền đó; sau khi đưa thẻ tín dụng để người khác quẹt, lấy thẻ lại, là lúc
							rửa tay (và vệ sinh thẻ) liền vì người khác đã chạm vào thẻ tín dụng của mình v.v.
							Vậy nên, rửa tay đúng lúc, một cách tỉnh thức, quan trọng hơn là liên tục.<br>
							Nhìn xa hơn những thói quen và những suy nghĩ vừa đề cập, trong bối cảnh này, ta có thể nhìn nhận sâu hơn về sự
							tỉnh thức trong mỗi hành động, về mindfulness. Tạm diễn giải từ này là “sự nhận biết được từng hành động, từng
							suy nghĩ của mình và biết tại sao mình suy nghĩ và tại sao mình làm như vậy’’.
							Khi có mindfulness, chúng ta sẽ thấy được những cái bẫy của các vấn đề trên và từ đó giúp chúng ta kiểm soát
							được hành động vô thức của mình. Kiểm soát được hành động vô thức của mình thì chúng ta sẽ hạn chế được
							những hành động vô nghĩa, vô tri, những hành động vô tình đưa ta vào cái bẫy của thói quen. Mindfulness cũng sẽ
							giúp chúng ta nhìn mọi vật, mọi việc một cách sáng suốt hơn, minh mẫn hơn và từ đó kiểm soát được cuộc sống
							của mình tốt hơn. Lúc này là lúc chúng ta cần thêm nhiều mindfulness để suy ngẫm, để nhìn sự việc xung quanh
							theo cách tốt hơn, tích cực hơn, lạc quan hơn.<br>
							Mặt tích cực của đại dịch này là chúng ta có thời gian nhiều hơn để cho phép mình sống chậm lại, để đọc sách
							nhiều hơn, để thực hành mindfulness nhiều hơn... và đó cũng là một ví dụ về lợi ích của mindfulness: nhìn ra được
							nhiều cái tốt trong những cái xấu, có thêm mindfulness trong quá trình thực hành mindfulness. Tổn thất kinh tế là
							điều chắc chắn không tránh khỏi, giữ sức khoẻ và tâm trí cân bằng để bảo vệ chính mình và mọi người là điều quan
							trọng hơn cả lúc này.</br>
							Cầu mong mọi người khỏe mạnh, bình an!
						</p>
					</div>
					<div class="blog-details__share mt-4 d-flex align-items-center"> 
						<span class="mr-2">Chia sẻ: </span>
						<ul class="list-inline mb-0">
							<li class="list-inline-item facebook">
								<a href="#"><i class="social_facebook"></i></a>
							</li>
							<li class="list-inline-item share">
								<a href="#"><i class="social_share"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					
				</div>
			</div>
		</div>
		<!-- Related blog  -->
			{% include "modules/component/related-blog.html" %}
		<!-- End  -->
	</div>	
</main>
{% endblock %}