<nav aria-label="breadcrumb" class="mb-4">
    <div id="breadcrumbs" class="breadcrumb">        
        <span>
            <a href="#">Trang chủ</a>
            <span aria-hidden="true" class="arrow_carrot-right"></span>
            <a href="#">Bài viết chia sẻ</a>
            <span aria-hidden="true" class="arrow_carrot-right"></span>
            <span class="breadcrumb_last" aria-current="page">Ý thức về sự tỉnh thức giữa đại dịch – Tỉnh thức trong vô thức</span>
        </span>        
    </div>
</nav>