<div class="link__group link__style01 mb-md-4 ">
    <div class="row">
        <div class="link__item col-md-6 col-lg-4 col-xl-3 mb-3 active">
            <a href="javascript:void(0);">BÀI VIẾT CHIA SẺ</a>
        </div>
        <div class="link__item col-md-6 col-lg-4 col-xl-3 mb-3">
            <a href="javascript:void(0);">THIỆN NGUYỆN</a>
        </div>
        <div class="link__item col-md-6 col-lg-4 col-xl-3 mb-3">
            <a href="javascript:void(0);">TIỂU SỬ | TRẦN VĂN TỈNH</a>
        </div>
        <div class="link__item col-md-6 col-lg-4 col-xl-3 mb-3">
            <a href="javascript:void(0);">KINH DOANH | VỀ IMM GROUP</a>
        </div>
    </div>
</div>