<!-- <div class="sidebar__news border">
    <div class="p-3 sidebar__top">
        <div class="row no-gutters">
            <div class="col-md-3 text-center"> <img class="mx-auto"
                    src="../../../images/facebook_icon.png" alt="facebook-icon"
                    style="width:45px; height:45px"></div>
            <div class="col-md-9">
                <h2 class="h5 mb-0">IMM GROUP</h2>
                <a class="text-secondary" style="font-size: 14px"
                    href="www.facebook.com/immgroup.vn">www.facebook.com/immgroup.vn</a>
            </div>
        </div>
    </div>
    <div class="sidebar__content">
        <div class="sidebar__news-item border-top p-4">
            <div class="info-top">
                <div class="row no-gutters">
                    <div class="col-md-2 text-center"> <img style="width:34px;
                            height:34px" class="mx-auto"
                            src="../../../images/imm-avatar.png"
                            alt="imm-avatar"></div>
                    <div class="col-md-10 pl-2">
                        <h2 class="h6 mb-0">IMM GROUP</h2>
                        <p class="news__time">18 Tháng 3 lúc 09:44 </p>
                    </div>
                </div>
            </div>
            <div class="info-content">
                Lập kế thừa gia đình, cho con cái một lựa chọn tương lai là tình
                thương cha mẹ cho con không gì so sánh bằng.
                Con cái bạn có thể được học hành miễn phí tại các nước tiên tiến
                như Mỹ, Úc, Canada, Châu Âu và hưởng đầy đủ quyền lợi như người
                bản xứ.
                Các nước phát triển như Mỹ, Úc, Canada hay châu Âu có nhiều
                chương trình thu hút người giàu có, thành đạt. Khi trở thành
                công dân của họ theo các diện đầu tư, doanh nhân hoặc đóng góp
                tài chính cho chính phủ, nhà đầu tư có thêm quố…
                <a href="javascript:void(0);">Xem thêm</a>
            </div>
        </div>
    </div>
</div> -->